.statistics-loader{
    background-image: url(/images/status_loader.gif);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    background-size: 100%;
    margin: auto;
    text-align: center;
    left: 50%;
    top: 40%;
    display: none;
}